<div class="nexmoe-widget-wrap" id="likeme">
    <link rel="stylesheet" href='https://unpkg.com/@5ime/likeme@1.0.1/static/css/likeme.css'/>
    <script src="https://unpkg.com/@5ime/likeme@1.0.1/static/js/likeme.js"></script>
    <script>
        new limeMe({
            el: '#likeme',
            serverURL: 'https://tenapi.cn/v2/likeme',
            color: '#ff4e6ae6',
        });
    </script>
</div>