<div class="nexmoe-widget-wrap" id="likeme">
    <link rel="stylesheet" href='https://unpkg.com/@5ime/likeme@1.0.1/static/css/likeme.css'/>
    <script src="https://unpkg.com/@5ime/likeme@1.0.1/static/js/likeme.js"></script>
    <script>
        new limeMe({
            el: '#likeme',
            // 参考：https://github.com/5ime/likeMe
            serverURL: '替换为你的URL',
            color: '#ff4e6acc',
        });
    </script>
</div>